jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install QA Tools
        run: pip install black flake8

      - name: Run QA Checks
        run: python ci_exp/qa.py

      - name: Run Broken Script
        if: always()
        run: python ci_exp/test_file.py
