name: Stale PR Management

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

jobs:
  manage-stale-prs-python:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.OPENWISP_BOT_APP_ID }}
          private-key: ${{ secrets.OPENWISP_BOT_PRIVATE_KEY }}

      - name: Checkout openwisp-utils bot branch
        uses: actions/checkout@v4
        with:
          repository: Eeshu-Yadav/openwisp-utils
          ref: issues/571-automate-assigning-unassigning-issues
          sparse-checkout: |
            openwisp_utils/bots
            setup.py
            setup.cfg
          sparse-checkout-cone-mode: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install -e .[bots]

      - name: Run stale PR bot
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          REPOSITORY: ${{ github.repository }}
        run: python -m openwisp_utils.bots.auto_assign stale_pr
